.DS_Store
hiersea
hiersea.d
hiersea.hpp
pooled
pooled.d
pooled.hpp
coretop_d18oc_cut.csv
coretop_d18oc.csv
coretopd18o_gridded_cut.txt
coretopd18o_gridded.txt
hierseamodel.m
load_cutcoretops.m
load_fullcoretops.m
pooledmodel.m
prep_coretops.m
hiersea_params_cut.mat
hiersea.stan
pooled.stan
